Source: ros-indigo-linux-peripheral-interfaces
Section: misc
Priority: extra
Maintainer: Jihoon Lee <jihoonlee.in@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-indigo-catkin
Homepage: http://wiki.ros.org/linux_peripheral_interfaces
Standards-Version: 3.9.2

Package: ros-indigo-linux-peripheral-interfaces
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-indigo-laptop-battery-monitor
Description: Simple scripts which help utilise, monitor, interact with computer hardware abstracted by a linux OS.
